.nav-menu{
    display: flex;
    justify-content: center;
    margin-left: 300px;
}
.nav-menu ul li{
    padding: 10px;
    font-size: 20px;
}
.get-ticket{
    width: 180px;
    height: 40px;
    
}
.get-ticket:hover{
    transform: scale(1.1);
    background-color: green;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner-img{
    width: 90%;
    height: 80vh;
   
}
.service{
    margin-top: 80px;  
}
.card{
    width: 150px;
}
.junior{
    background-image: url(images/2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    position: relative;
}
.teeneger{
    background-image: url(images/3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    position: relative;
}
.proffessionl{
    background-image: url(images/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    position: relative;
}
.card-desc{
    color : white;
    position: absolute;
    top:100px;
    left:20px;
}
button{
    background-color: red;
    width: 160px;
    padding : 10px;
    color:white;
    border-radius: 20px;
    border: none;
}
button:hover{
    transform: scale(1.1);
    background-color: green;
}
.card-desc-t{
    color : white;
    position: absolute;
    top:100px;
    left:20px;
}
.card-desc-p{
    color : white;
    position: absolute;
    top:150px;
    left:20px;
}